* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#grid-number {
    display: flex;
    margin: 10px auto;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 1px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid:hover {
    background-color: darkgray;
}